@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
}
/* variables */
:root {
  --mobile-size: 375px;
  --desktop-size: 1440px;
  /* Primary */
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);
  /* Neutral */
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
  --paragraph-font-size: 16px;
}

/* Scores component */
.scores {
  border-radius: 0.5rem;
  padding: 0.7rem 0.9rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: var(--very-light-gray);
}

.plus {
  background-image: url("./images/icon-plus.svg");
  background-repeat: no-repeat;
}

.minus {
  background-image: url("./images/icon-minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.score-value {
  margin: 1rem auto 0.8rem auto;
  color: var(--moderate-blue);
  font-weight: 500;
}

/* the hover state */
.plus:hover {
  background-image: url("./hover-images/icon-plus-hover.svg");
  background-repeat: no-repeat;
}

.minus:hover {
  background-image: url("./hover-images/icon-minus-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* //////////////////// */

/* Reply component */
.reply {
  display: flex;
  padding: 1rem;
  width: fit-content;
  color: var(--moderate-blue);
}

.reply-text {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 16px;
}
.reply-image {
  margin-top: 0.2rem;
  background-image: url("./images/icon-reply.svg");
  background-repeat: no-repeat;
}
.reply-image img {
  visibility: hidden;
}
.reply:hover {
  color: var(--light-grayish-blue) !important;
  cursor: pointer;
}
.reply:hover .reply-image {
  background-image: url("./hover-images/icon-reply-hover.svg");
  background-repeat: no-repeat;
}

/* in the active state */
.reply-active {
  padding: 0.9rem 1.8rem;
  background: var(--moderate-blue);
  color: var(--white);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.reply-text-active {
  font-weight: 400;
  font-size: 16px;
}

.reply-active:hover {
  background: var(--light-grayish-blue);
  color: var(--very-light-gray);
  font-size: 16px;
  cursor: pointer;
}
/* //////////////////// */

/* transition class */
.trans {
  transition: all 0.5s;
}

/* Edit component */
.edit {
  display: flex;
  padding: 1rem;
  width: fit-content;
  color: var(--moderate-blue);
}

.edit-text {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 16px;
}

.edit-image {
  margin-top: 0.2rem;
  background-image: url("./images/icon-edit.svg");
  background-repeat: no-repeat;
}

.edit:hover {
  color: var(--light-grayish-blue) !important;
  cursor: pointer;
}
.edit:hover .edit-image {
  background-image: url("./hover-images/icon-edit-hover.svg");
  background-repeat: no-repeat;
}
.edit:hover .edit-image img {
  visibility: hidden;
}

/* /////////////// */
/* Delete component */
.delete {
  display: flex;
  padding: 1rem;
  width: fit-content;
  color: var(--soft-red);
}

.delete-text {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 16px;
}

.delete-image {
  margin-top: 0.1rem;
  background-image: url("./images/icon-delete.svg");
  background-repeat: no-repeat;
}

.delete:hover {
  color: var(--pale-red) !important;
  cursor: pointer;
}
.delete:hover .delete-image {
  background-image: url("./hover-images/icon-delete-hover.svg");
  background-repeat: no-repeat;
}
.delete:hover .delete-image img {
  visibility: hidden;
}

/* /////////////// */

/* Info component */
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-size: var(--paragraph-font-size);
}

.info-name {
  margin: 0 1rem;
  color: var(--dark-blue);
  font-weight: 600;
}

.info-duration {
  color: var(--grayish-blue);
  font-weight: 500;
}

.you {
  margin-right: 1rem;
  padding: 0.3rem 0.6rem 0.4rem;
  border-radius: 3px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--moderate-blue);
  display: flex;
  justify-content: center;
  align-content: center !important;
  font-size: var(--paragraph-font-size);
}
/* ////////////// */

/* Update component */
.update {
  padding: 0.7rem 1rem;
  background: var(--moderate-blue);
  color: var(--white);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.update-text {
  font-weight: 400;
  font-size: 16px;
}

.update:hover {
  background: var(--light-grayish-blue);
  color: var(--very-light-gray);
  font-size: 16px;
  cursor: pointer;
}
/* //////////////// */

/* Send component */
.send {
  padding: 0.9rem 1.8rem;
  background: var(--moderate-blue);
  color: var(--white);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.send-text {
  font-weight: 400;
  font-size: 16px;
}

.send:hover {
  background: var(--light-grayish-blue);
  color: var(--very-light-gray);
  font-size: 16px;
  cursor: pointer;
}
/* //////////////// */
